In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import metrics

In [2]:
df = pd.read_csv('datasets_4123_6408_framingham.csv')
df.head()
print(df)

male  age  education  currentSmoker  cigsPerDay  BPMeds  \
0        1   39        4.0              0         0.0     0.0
1        0   46        2.0              0         0.0     0.0
2        1   48        1.0              1        20.0     0.0
3        0   61        3.0              1        30.0     0.0
4        0   46        3.0              1        23.0     0.0
...    ...  ...        ...            ...         ...     ...
4235     0   48        2.0              1        20.0     NaN
4236     0   44        1.0              1        15.0     0.0
4237     0   52        2.0              0         0.0     0.0
4238     1   40        3.0              0         0.0     0.0
4239     0   39        3.0              1        30.0     0.0

      prevalentStroke  prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  \
0                   0             0         0    195.0  106.0   70.0  26.97
1                   0             0         0    250.0  121.0   81.0  28.73
2                   0             0         0    245.0  127.5   80.0  25.34
3                   0             1         0    225.0  150.0   95.0  28.58
4                   0             0         0    285.0  130.0   84.0  23.10
...               ...           ...       ...      ...    ...    ...    ...
4235                0             0         0    248.0  131.0   72.0  22.00
4236                0             0         0    210.0  126.5   87.0  19.16
4237                0             0         0    269.0  133.5   83.0  21.47
4238                0             1         0    185.0  141.0   98.0  25.60
4239                0             0         0    196.0  133.0   86.0  20.91

      heartRate  glucose  TenYearCHD
0          80.0     77.0           0
1          95.0     76.0           0
2          75.0     70.0           0
3          65.0    103.0           1
4          85.0     85.0           0
...         ...      ...         ...
4235       84.0     86.0           0
4236       86.0      NaN           0
4237       80.0    107.0           0
4238       67.0     72.0           0
4239       85.0     80.0           0

[4240 rows x 16 columns]

In [3]:
df = df.drop(columns = ['education'])
df.head()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [4]:
count_missing = 0
for i in range(len(df.index)) :
    if (df.iloc[i].isnull().sum()>0):
        count_missing = count_missing + 1
print(4240-count_missing)

3751

In [5]:
df = df.dropna()

In [6]:
print(df)

male  age  currentSmoker  cigsPerDay  BPMeds  prevalentStroke  \
0        1   39              0         0.0     0.0                0
1        0   46              0         0.0     0.0                0
2        1   48              1        20.0     0.0                0
3        0   61              1        30.0     0.0                0
4        0   46              1        23.0     0.0                0
...    ...  ...            ...         ...     ...              ...
4233     1   50              1         1.0     0.0                0
4234     1   51              1        43.0     0.0                0
4237     0   52              0         0.0     0.0                0
4238     1   40              0         0.0     0.0                0
4239     0   39              1        30.0     0.0                0

      prevalentHyp  diabetes  totChol  sysBP  diaBP    BMI  heartRate  \
0                0         0    195.0  106.0   70.0  26.97       80.0
1                0         0    250.0  121.0   81.0  28.73       95.0
2                0         0    245.0  127.5   80.0  25.34       75.0
3                1         0    225.0  150.0   95.0  28.58       65.0
4                0         0    285.0  130.0   84.0  23.10       85.0
...            ...       ...      ...    ...    ...    ...        ...
4233             1         0    313.0  179.0   92.0  25.97       66.0
4234             0         0    207.0  126.5   80.0  19.71       65.0
4237             0         0    269.0  133.5   83.0  21.47       80.0
4238             1         0    185.0  141.0   98.0  25.60       67.0
4239             0         0    196.0  133.0   86.0  20.91       85.0

      glucose  TenYearCHD
0        77.0           0
1        76.0           0
2        70.0           0
3       103.0           1
4        85.0           0
...       ...         ...
4233     86.0           1
4234     68.0           0
4237    107.0           0
4238     72.0           0
4239     80.0           0

[3751 rows x 15 columns]

In [7]:
features = ['cigsPerDay', 'diabetes', 'totChol', 'sysBP', 'diaBP', 'BMI', 'heartRate', 'glucose']

In [8]:
X = df[features]
y = df.iloc[:,-1]
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.85,random_state=30)

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

params = {'penalty':['l1','l2'],
         'C':[0.01,0.1,1,10,100],
         'class_weight':['balanced',None]}
risk_model = GridSearchCV(LogisticRegression(),param_grid=params,cv=10)

In [17]:

risk_model.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=LogisticRegression(),
             param_grid={'C': [0.01, 0.1, 1, 10, 100],
                         'class_weight': ['balanced', None],
                         'penalty': ['l1', 'l2']})

In [12]:
from sklearn.metrics import accuracy_score

results = risk_model.predict(X_test)

#mse = metrics.mean_squared_error(y_test, results)
#rmse = np.sqrt(mse)
accuracy = accuracy_score(y_test, results)

print(accuracy)

0.8436944937833037

In [13]:
print(results)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0]

In [14]:
print(X_test)

cigsPerDay  diabetes  totChol  sysBP  diaBP    BMI  heartRate  glucose
561          0.0         0    275.0  113.5   75.5  19.63       66.0     78.0
3626         0.0         0    182.0  138.0   72.0  21.67       85.0    108.0
3275         2.0         0    159.0   99.0   62.0  19.09       80.0     67.0
3130         0.0         0    222.0  125.0   76.0  25.23       60.0     77.0
1754        15.0         0    164.0  100.0   64.0  19.87       85.0     65.0
...          ...       ...      ...    ...    ...    ...        ...      ...
3965         0.0         0    223.0  144.0   87.0  21.75       72.0     92.0
1835         0.0         0    233.0  115.0   70.0  25.03       68.0     97.0
1773         0.0         0    235.0  150.5   98.0  32.40       75.0     92.0
2838         0.0         0    173.0  135.0   97.5  30.71       63.0     86.0
3599        20.0         0    270.0  167.5   92.5  21.28       85.0     77.0

[563 rows x 8 columns]

In [15]:
print(y_test)

561     0
3626    0
3275    0
3130    0
1754    0
       ..
3965    0
1835    0
1773    0
2838    0
3599    0
Name: TenYearCHD, Length: 563, dtype: int64

In [16]:
print(X_train)
print(y_train)

cigsPerDay  diabetes  totChol  sysBP  diaBP    BMI  heartRate  glucose
1930         0.0         0    288.0  158.0   90.0  32.84       70.0     87.0
2034        15.0         0    165.0  113.0   79.0  28.96       75.0     72.0
2297        30.0         0    195.0  113.5   72.0  21.78       65.0     67.0
2432        20.0         0    189.0  132.0   76.0  20.26       75.0     60.0
1386         0.0         0    234.0  126.0   73.0  27.60       75.0     90.0
...          ...       ...      ...    ...    ...    ...        ...      ...
1304        43.0         0    259.0  125.0   89.0  24.80      100.0     57.0
562          0.0         0    252.0  128.0   93.0  30.36      105.0     63.0
3393         0.0         0    157.0  130.0   87.0  28.73       72.0     47.0
476          0.0         0    168.0  127.0   74.0  27.38       63.0     85.0
2073        15.0         0    216.0  116.0   72.0  24.25       76.0     71.0

[3188 rows x 8 columns]
1930    0
2034    0
2297    0
2432    0
1386    0
       ..
1304    0
562     0
3393    0
476     0
2073    0
Name: TenYearCHD, Length: 3188, dtype: int64

In [103]:
test=[[20.0,0,300.0,200.0,100.0,27.87,100.0,100.0]]
results = risk_model.predict(test)
print(results)

[1]

In [104]:
n=[]
for i in range (len(test)):
    n.append(test[i][0])
print(n)

[20.0]

In [105]:
for i in range (len(results)):
    if (results[i]==1 and test[i][0]>0):
        while(test[i][0]>=0):
            test[i][0] = test[i][0]-1
            result = risk_model.predict(test)
            if result[0] == 1:
                continue
            else:
                break
    elif results[i] == 0:
        print('No risk factor')
    
    elif test[i][0] == 0:
        print('Non-smoker')

for i in range (len(results)):
    print(f'{i+1}. Current Cigs per day: {n[i]}')
    print('Change to: ', test[i][0],"\n")

1. Current Cigs per day: 20.0
Change to:  11.0